* {
    box-sizing: border-box;
}
body{
    margin: 0;
}


.main-container{
    display: grid;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    height: 100vh;
    margin: auto;
    padding: 10px;
    padding: 1em;
    border: 1px solid #d3d3d3;
}

header{
    text-align: center;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}